/* Dark Mode Theme */
body {
   background: black;
  color: #f8f8f8;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(90deg, #000000, #000000);
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
}

h1 {
  font-size: 2rem;
  color: #fdfdfd;
  margin-top: 10px;
}
.testimonial-container{
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0 20px;
    align-items: stretch;
}

.testimonial-card {
    flex: 1 1 300px; /* Grow, shrink, minimum 300px */
    max-width: 300px;
    background-color: #d4e4f3a9;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid #000000;
    box-shadow: 0 4px 8px rgba(240, 227, 227, 0.5);
    transition: transform 0.3s ease;
    box-sizing: border-box;
}
.video-container {
  margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0 20px;
    align-items: stretch;
}
.video-section {
  flex: 1 1 300px; /* Grow, shrink, minimum 300px */
    max-width: 300px;
    background-color: #ffffffa9;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid #000000;
    box-shadow: 0 4px 8px rgba(240, 227, 227, 0.5);
    transition: transform 0.3s ease;
    box-sizing: border-box;
}

.video-section video {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  flex-direction: column;
    align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}
